name: Build Docker image

on:
  push: 

jobs:
  build-with-docker:
    name: Build with Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          lfs: 'true'
      - uses: docker/setup-buildx-action@v3
      #      - name: Login to Docker Hub
      #  uses: docker/login-action@v3
      #  with:
      #    username: ${{ secrets.DARWIN_REGISTRY_USERNAME }}
      #    password: ${{ secrets.DARWIN_REGISTRY_PASSWORD }}
      - uses: docker/build-push-action@v5
        with:
         context: .
         cache-from: type=gha
         cache-to: type=gha,mode=max
         push: false
         tags: mlaager/darwin:latest
      #      - name: Azure Login
      #  uses: azure/login@v1
      #  with:
      #    creds: ${{ secrets.DARWIN_AZURE_CREDENTIALS }}
      #- name: Build and push container image to registry
      #  uses: azure/container-apps-deploy-action@v2
      #  with:
      #    registryUrl: registry.hub.docker.com
      #    registryUsername: ${{ secrets.DARWIN_REGISTRY_USERNAME }}
      #    registryPassword: ${{ secrets.DARWIN_REGISTRY_PASSWORD }}
      #    containerAppName: darwin
      #    resourceGroup: DefaultResourceGroup-CHN
      #    imageToDeploy: registry.hub.docker.com/mlaager/darwin:latest
